<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head.ejs %>
  </head>
  <body>
    <% include ./partials/_header.ejs %>

    <div id="main-container-mid">

      <% if(userHasNoUrls){ %>
        <div id="no-urls-div">
          <div id ="nothing-here-heading">
            Nothing Here!
          </div>

          <!-- user is logged in and can add urls  -->
          <% if(user_id){ %>
            <div class="no-url-link">
              <a href="/urls/new">
                Add A New URL
              </a>
            </div>

          <!-- user is not logged in  -->
          <% } else { %>

            <div class="no-url-link">
              <a href="/login">
                Sign in to get started
              </a>
            </div>

          <% }; %>

        </div>

      <% } else if(user_id){ %>
        <table>
          <% Object.keys(urls).forEach(url => { %>
            <tr>
              <td><%= url %></td>
              <td class="arrow-icon-td"><img id="arrow-icon" src="/arrow.png"/></td>
              <td><a href=/u/<%= url %>><%= urls[url] %></a></td>
              <td class="edit-td"><%- `<a href=/urls/${url}>Edit</a>` %></td>
              <td>
                  <form action="/urls/<%= url %>/delete?_method=DELETE"" method="POST">
                  <label for="shortURL" aria-label="Delete"></label>
                  <button id="shortURL" class="styled-button" type="submit" name="shortURL" value="<%= url %>">Delete</button>
                </form>
              </td>
            </tr>

          <% }); %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button id="add-url-button" class="styled-button"><a href="/urls/new">Add URL</a></button></td>
            </tr>
        </table>
      <% } %>
    </div>
  </body>
</html>
